.card {
    border: 3px solid #92D4F7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    height: 170px;
    margin: 28px;
    overflow: hidden;
    width: 170px;
    transition: 0.25s;
  }

  .card:hover {
    box-shadow: rgb(106, 155, 182) 2px 4px 28px 4px;
    transform: scale(1.05);
    border: none;
  }