.navbar {
    color: white;
    background-color: #9E45FF;
    box-shadow: rgb(76, 32, 124) 0 0 34px 10px;
    text-shadow: black 2px 2px 2px;
    letter-spacing: 2px;
    font-size: 22px;
}

.navbar-brand {
   font-family: 'Changa', sans-serif;
   color: white;
   font-size: 40px !important;
}

.pipe {
    margin: 0 10px;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 15vmin;
    pointer-events: none;
}

.correct {
    color: rgb(71, 241, 71);
}

.incorrect {
    color: red;
}

.msg {
    font-size: 28px;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media only screen and (max-width: 750px) {
    .navbar {
        flex-direction: column;
    }
}

